.ui.fixed.menu.navbar.pointing.purple.inverted
  .container
    a.brand.item(href='/')
      i.icon.home
      | Confur admin
    a.item(href='/conferences')
      i.icon.student
      | Conferences
    a.item(href='/events')
      i.icon.calendar
      | Events
    a.item(href='/videos')
      i.icon.film
      | Videos
    .right.menu
      .ui.active.inline.loader
      a.item(href='#') Log out
