.ui.inverted.fixed.menu.navbar
  a.brand.item(href='/') Confur admin
  a.item(href='/conferences') Conferences
  a.item(href='/events') Events
  a.item(href='/videos') Videos
  //-.right-menu
    //-a.item(href='#') Sign In
    //-a.item(href='#') Log out
