.ui.fixed.menu.navbar.pointing.secondary
  .container
    .brand.item Confur admin
    a.item(href='/')
      i.icon.home
    a.item(href='/conferences') Conferences
    a.item(href='/events') Events
    a.item(href='/videos') Videos
    .right.menu
      .ui.active.inline.loader
      a.item(href='#') Log out
