.ui.two.columns.centered.grid
  .column
    | Hello
    //-.ui.statistics
      //-.ui.statistic.huge
        //-.value 497
        //-.label Conferences total
      //-.ui.statistic.huge
        //-.value.text
          //-| 500 thousand
        //-.label Videos total

    //-.ui.statistics
      //-.ui.statistic.huge
        //-.value.text
          //-| 341 new videos
        //-.label Every day
      //-.ui.statistic.huge
        //-.value 50
        //-.label Conferences uploaded this week
