.autocomplete
  $border-style = 1px solid rgba(39, 41, 43, 0.15)
  $border-radius = .2857rem
  position: absolute
  z-index: 9999
  background-color: white
  width: 80%
  border-left: $border-style
  border-right: $border-style
  border-bottom: $border-style
  border-bottom-left-radius: $border-radius
  border-bottom-right-radius: $border-radius
