@import _angular

#loading-bar-spinner
  top: 42px
  left: 7px

#content
  padding-top: 65px

.disabled-item
  opacity: 0.4

.video-source__form
  width: 330px !important
  background: white
  z-index: 9999
