@import _angular
@import _autocomplete

#loading-bar-spinner
  top: 42px
  left: 7px

#content
  padding-top: 65px

.disabled-item
  opacity: 0.4

.sticky-form
  position: fixed
  width: 400px !important
  background: white
  z-index: 9999
  &.right
    right: 0
  &.left
    left: 0
