.ui.form(ng-class='{ error: videoSource.$error }' style='min-height: 300px')
  .ui.error.message(ng-if='videoSource.$error')
  .field
    h4.ui.dividing.header
      span(ng-if='!videoSource.isPersistent()') New source
      span(ng-if='videoSource.isPersistent()') Edit source {{ videoSource.id }}
  .field.required(ng-show='conference')
    label Conference
    input(ng-value='conference.title' disabled=true)
  .field(ng-show='event')
    label Event
    input(ng-value='event.title' disabled=true)
  .field.required
    label Service
    select(ng-model='videoSource.service' ng-change='videoSource.location_type = ""')
      option(ng-repeat='service in services' ng-value='service' ng-selected='service == videoSource.service')
        | {{ service }}
  .field.required
    label Location
    .ui.left.labeled.input
      select(ng-model='videoSource.location_type')
        option(ng-repeat='locationType in locationTypes[videoSource.service]' ng-value='{{ locationType }}' ng-selected='locationType == videoSource.location_type') {{ locationType }}
      input(type='text' ng-value='videoSource.location_value' ng-model='videoSource.location_value')

  .field
    .ui.toggle.checkbox(ui-checkbox='videoSource.is_active')
      input(type='checkbox' ng-checked='videoSource.is_active' value='true')
      label Active
  .field
    h4.ui.dividing.header Video attributes
  .field
    label Tags
    .ui.tag.tiny.labels
      .ui.purple.label(ng-repeat='tag in videoSource.tags')
        | {{ tag }}
        i.icon.close(ng-click='removeTag(tag)')
  .field
    label Add tag
    input(type='text' ng-model='autocomplete.tagQuery' ng-model-options='{ updateOn: "default", debounce: {"default": 300} }')
    .autocomplete(ng-show='autocomplete.tags')
      .ui.selection.animated.list
        .item(ng-repeat='tag in autocomplete.tags' ng-click='addTag(tag.slug)')
          i.icon.tag
          | {{ tag.slug }}

  .ui.hidden.divider
  .ui.buttons.tiny
    button.ui.button.positive(ng-click='save()')
      i.icon.save
      | Save
    .or
    button.ui.button(ng-click='cancel()')
      i.icon.ban
      | Cancel

  button.right.floated.ui.tiny.button.negative(ng-click='destroy()' ng-show='videoSource.isPersistent()')
    i.icon.trash
    | Destroy
