.ui.form(ng-class='{ error: videoSource.$error }' style='min-height: 300px')
  .ui.error.message(ng-if='videoSource.$error')
    | Oh snap!
  .field
    h4.ui.dividing.header
      span(ng-if='!videoSource.isPersistent()') New source
      span(ng-if='videoSource.isPersistent()') Edit source {{ videoSource.id }}
  .field
    .ui.toggle.checkbox(ng-checkbox='videoSource.is_active')
      input(type='checkbox' ng-checked='videoSource.is_active' value='true')
      label Active
  .field.fourteen.wide.required
    label Service
    select(ng-model='videoSource.service' ng-change='videoSource.location_type = ""')
      option(ng-repeat='service in services' value='{{ service }}' ng-selected='service == videoSource.service')
        | {{ service }}
  .field.fourteen.wide.required
    label Location
    .ui.left.labeled.input
      select(ng-model='videoSource.location_type')
        option(ng-repeat='locationType in locationTypes[videoSource.service]' value='{{ locationType }}' ng-selected='locationType == videoSource.location_type') {{ locationType }}
      input(type='text' value='{{ videoSource.location_value }}' ng-model='videoSource.location_value')

  .ui.hidden.divider
  .ui.buttons.tiny
    button.ui.button.positive(ng-click='save()')
      | Save
    .or
    button.ui.button(ng-click='cancel()')
      | Cancel

  button.right.floated.ui.tiny.button.negative(ng-click='destroy()' ng-show='videoSource.isPersistent()')
    i.icon.trash
    | Destroy
