div(ng-controller='VideoSourcesCtrl' ng-keyup='$event.keyCode == 27 && cancel()')
  .ui.right.attached.internal.rail.video-source__form.animate(ng-if='videoSource')
    .ui.segment.raised
      ng-include(src='"/templates/video_sources/form.html"')
  .ui.selection.animated.list
    .item(ng-repeat='source in videoSources | orderBy:"location_type" | orderBy:"location_type" | orderBy:"id" track by source.id')
      .ui.left.floated(ng-class='{ "disabled-item": !source.is_active }' ng-click='edit(source.id)')
        i.icon.big(ng-class='source.service')
        | {{ source.location_type }}: {{ source.location_value}}
      .ui.right.floated.compact
        button.ui.button.compact.primary.animated.tiny(ng-click='sync(source.id)' ng-disabled='!source.is_active')
          .hidden.content
            i.icon.refresh.white
            | Sync
          .visible.content
            span(ng-hide='source.syncing')
              i.icon.refresh.white
              | {{ source.synced_at | timeAgo }}
            span(ng-show='source.syncing')
              i.icon.refresh.white.loading
              | Syncing

      .ui.right.floated.compact
        .ui.label
          i.icon.film
          | {{ source.videos_count || 0 }}

  button.ui.button.compact(ng-click='add()')
    i.plus.icon
    | Add source
