form.ui.form(ng-show='conference')
  h3.ui.header(ng-if='conference.ID') {{ conference.Title }}
  h3.ui.header(ng-if='!conference.ID') New conference
  .field
  .field
    input(type='text' name='title' value='{{ conference.Title }}' placeholder='Title' ng-model='conference.Title')

  .field
    input(type='text' name='slug' value='{{ conference.Slug }}' placeholder='Slug' ng-disabled='conference.ID')

  .field
    select(name='type' ng-model='conference.Url')
      option(ng-repeat='type in conferenceTypes' value='{{ type }}' ng-selected='type == conference.Type') {{ type }}

  .field
    input(type='text' name='url' value='{{ conference.Url }}' placeholder='http://' ng-model='conference.Url')

  .field
    .ui.toggle.checkbox
      input(type='radio' name='is_active' ng-model='conference.IsActive' ng-checked='conference.IsActive')
      label Show on site

  .field
    textarea(type='text' name='description' value='{{ conference.Description }}' placeholder='Lorem ipsum...' ng-model='conference.Description')

  .ui.buttons
    a.ui.positive.button(href='javascript:;' ng-click='save()')
      | Save
    .or
    a.ui.button(href='/conferences')
      | Cancel
