.ui.segment
  h3.ui.header Conferences
  .ui.selection.list
    a.item(href='/conferences/{{ conference.Slug }}' ng-repeat='conference in conferences track by conference.ID')
      | {{ conference.Title }}
      .right.floated.compact.ui
        | {{ conference.UpdatedAt | timeAgo }}
  a.ui.button(href='/conferences/new')
    i.plus.icon
    | New conference
