.ui.segment
  .ui.clearing.segment.basic
    h3.ui.left.floated.header Conferences
    h5.ui.right.floated.header
      ng-include(src="'/templates/shared/_search_form.html'")
  .ui.selection.animated.list(ng-cloak=true)
    .item(ng-repeat='conference in conferences | orderBy:\'slug\' track by conference.slug')
      .ui.left.floated.compact(ng-click='$location.path("/conferences/" + conference.slug)' ng-class='{ "disabled-item": !conference.is_active }')
        | {{ conference.title }}
      .ui.right.floated.compact
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.slug + "/events")')
          .hidden.content Events
          .visible.content
            i.icon.calendar
            | {{ conference.events_count || 0 }}
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.slug + "/videos")')
          .hidden.content Videos
          .visible.content
            i.icon.film
            | {{ conference.videos_count || 0 }}
        button.ui.button.compact.animated.tiny
          .hidden.content Likes
          .visible.content
            i.icon.heart
            | {{ conference.likes_count || 0 }}
        button.ui.button.compact.primary.animated.tiny(ng-click='sync(conference.slug)' ng-class='{ disabled: conference.deleted_at }')
          .hidden.content
            i.icon.refresh.white
            | Sync
          .visible.content
            i.icon.refresh.white
            | {{ conference.synced_at | timeAgo }}
        button.ui.button.compact.tiny.negative(ng-click='destroy(conference.slug)' ng-show='!conference.deleted_at')
          i.icon.trash
          | Delete
        button.ui.button.compact.tiny.negative(ng-click='restore(conference.slug)' ng-show='conference.deleted_at')
          i.icon.undo
          | Restore
  a.ui.button(href='/conferences/new')
    i.plus.icon
    | New conference
