.ui.segment
  h3.ui.header Conferences
  .ui.selection.animated.list(ng-cloak=true)
    .item(ng-repeat='conference in conferences track by conference.Slug')
      .ui.left.floated.compact(ng-click='$location.path("/conferences/" + conference.Slug)')
        | {{ conference.Title }}
      .ui.right.floated.compact
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.Slug + "/events")')
          .hidden.content Events
          .visible.content
            i.icon.calendar
            | {{ conference.EventsCount || 0 }}
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.Slug + "/videos")')
          .hidden.content Videos
          .visible.content
            i.icon.film
            | {{ conference.VideosCount || 0 }}
        button.ui.button.compact.animated.tiny
          .hidden.content Likes
          .visible.content
            i.icon.heart
            | {{ conference.LikesCount || 0 }}
        button.ui.button.compact.primary.animated.tiny(ng-click='sync(conference.Slug)')
          .hidden.content
            i.icon.refresh.white
            | Sync
          .visible.content
            i.icon.refresh.white
            | {{ conference.UpdatedAt | timeAgo }}
  a.ui.button(href='/conferences/new')
    i.plus.icon
    | New conference
