.ui.segment
  h3.ui.header Conferences
  .ui.selection.animated.list(ng-cloak=true)
    .item(ng-repeat='conference in conferences | orderBy:\'slug\' track by conference.slug')
      .ui.left.floated.compact(ng-click='$location.path("/conferences/" + conference.slug)')
        | {{ conference.title }}
      .ui.right.floated.compact
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.slug + "/events")')
          .hidden.content Events
          .visible.content
            i.icon.calendar
            | {{ conference.events_count || 0 }}
        button.ui.button.compact.animated.tiny(ng-click='$location.path("/conferences/" + conference.slug + "/videos")')
          .hidden.content Videos
          .visible.content
            i.icon.film
            | {{ conference.videos_count || 0 }}
        button.ui.button.compact.animated.tiny
          .hidden.content Likes
          .visible.content
            i.icon.heart
            | {{ conference.likes_count || 0 }}
        button.ui.button.compact.primary.animated.tiny(ng-click='sync(conference.slug)')
          .hidden.content
            i.icon.refresh.white
            | Sync
          .visible.content
            i.icon.refresh.white
            | {{ conference.synced_at | timeAgo }}
  a.ui.button(href='/conferences/new')
    i.plus.icon
    | New conference
