div(ng-controller='VideosCtrl' ng-keyup='$event.keyCode == 27 && cancel()')
  .ui.segment.basic(ng-hide='conference')
    ng-include(src="'/templates/shared/_search_form.html'")
  .sticky-form.right(ng-if='video')
    .ui.segment.raised
      ng-include(src='"/templates/videos/form.html"')
  .ui.grid.three.column.centered.grid
    .column(ng-repeat='video in videos track by video.id')
      .ui.fluid.card(ng-class='{ "disabled-item": video.deleted_at }')
        .content
          .header
            a.ui.corner.label(ng-href='{{ "/conferences/" + video.conference_slug + "/video_sources" }}')
              i.icon(ng-class='video.service')
            a.ui.ribbon.label(ng-href='{{ "/conferences/" + video.conference_slug }}' ng-hide='conference')
              | {{ video.conference_slug }}
            | {{ video.title | truncate: 70 }}
        .image
          .ui.video(ui-video='true' data-source='{{ video.service }}' data-id='{{ video.service_id }}' data-image='{{ video.thumbnail }}')
        .content
          .description {{ video.description | truncate: 120 }}
          .meta
            .date {{ video.date }}
        .extra.content
          .ui.left.floated
            i.icon.heart
            | {{ video.likes_count || 0 }}
          .ui.right.floated
            button.ui.button.mini.compact.basic(ng-click='edit(video.id)')
              i.icon.pencil
              | Edit
            button.ui.button.mini.compact.negative(ng-click='destroy(video.id)' ng-show='!video.deleted_at')
              i.icon.trash
              | Delete
            button.ui.button.mini.compact.negative(ng-click='restore(video.id)' ng-show='video.deleted_at')
              i.icon.undo
              | Restore
