div(ng-controller='ListEventsCtrl')
  .ui.selection.animated.list(ng-cloak=true)
    .item(ng-repeat='event in events | orderBy:"title" track by event.id')
      .ui.left.floated.compact(ng-click='$location.path("/events/" + event.id)')
        | {{ event.title | truncate: 70 }}

  a.ui.button(ng-href='{{ linkToNewEvent }}')
    i.plus.icon
    | New event
